/** 
Poppins

poppinsblack
poppinsblack_italic
poppinsbold
poppinsitalic
poppinslight
poppinsmedium
poppinsregular
poppinssemibold
poppinssemibold_italic

*/

:root {
  --background: #ebe8d0;
  --red-1: #f94f06;
  --orange-1: #fa850f;
  --orange-2: #feaf1b;
  --yellow-1: #ffdd24;
  --yellow-2: #ffe35d;
  --gray-1: #737373;
  --gray-2: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
  --bs-avatar-width: 32px;
  --pink: #FCE5DF;
  --blue: #C2CCFD;
  --green: #DCEAD1;
}

body {
  font-family: 'poppinsregular';
}
* {
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.bg-clms-blue {
  background-color: var(--blue);
}

.bg-clms-green {
  background-color: var(--green);
}

.bg-clms-red-1 {
  background-color: var(--red-1);
}

.bg-clms-pink {
  background-color: var(--pink);
}

.bg-home-banner {
  background-image: url('../img/home_banner.png');
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right;
}

.side-navigation {
  left: 0px;
  width: 235px;
  margin-left: 1rem;
  padding: 1rem;
}

.side-navigation-hide {
  /* left: -265px; */
  width: 80px;
  margin-left: 1rem;
}

.bg-aesthetic {
  background-color: var(--background);
}

.side-nav-bg {
  background-color: var(--orange-1);
}

/* AVATAR */
.avatar-xs {
  --bs-avatar-width: 16px;
}
.avatar-sm {
  --bs-avatar-width: 24px;
}
.avatar-lg {
  --bs-avatar-width: 40px;
}
.avatar-xl {
  --bs-avatar-width: 96px;
}
.avatar-xxl {
  --bs-avatar-width: 128px;
}
.avatar {
  --bs-avatar-bg: var(--ds-background-neutral-bold);
  position: relative;
  width: var(--bs-avatar-width);
  height: var(--bs-avatar-width);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--ds-text-inverse);
  line-height: 1;
  font-size: 14px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: var(--bs-avatar-bg);
}

.side-navigation .avatar-box {
  margin-right: 1rem;
}.side-navigation-hide .avatar-box {
  margin:0;
}

img,
svg {
  vertical-align: middle;
}

.side-navigation .nav-menu {
  background-color: var(--white) !important;
}

.side-navigation .meets {
  background-color: var(--orange-2) !important;
  color: var(--black) !important;
  font-weight: 500;
}
.side-navigation-hide .meets {
  background-color: var(--orange-2) !important;
  color: var(--black) !important;
  font-weight: 500;
}

.side-navigation-hide .nav-link {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.user-box {
  background-color: var(--white);
  box-shadow: inset 0px 5px 5px 0px #c9c9c9;
}

a.nav-link {
  text-decoration: none;
}

.nav-li {
  background-color: var(--white);
  transition: 0.3s;
}

.nav-li:hover,
.nav-li.act {
  background-color: var(--yellow-1);
  font-weight: 600;
}
.side-navigation-hide .icon-panel {
  width: 100%!important;
  display: block!important;
}

.side-navigation-hide .menu-label,
.side-navigation-hide .user-label {
  display: none;
}

.side-navigation-hide .nav-link,
.side-navigation-hide .user-box {
  text-align: center;
  justify-content: center;
}

.side-navigation-hide .nav-pills,
.side-navigation-hide .nav-li,
.side-navigation-hide .user-box {
  margin-left: 10px;
  margin-right: 10px;
}

.main-panel {
  background-color: var(--white);
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.course-box {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.course-icon-img {
  width: 4rem;
}

.course-title {
  font-family: 'poppinsbold';
  font-size: 1.2rem;
}
.course-subtitle {
  font-size: 0.8rem;
}

.course-details {
  text-align: center;
}

/* MEDIA Queries */

/* Small */
@media only screen and (max-width: 576px) {
  .side-navigation-hide,
  .side-navigation {
    /* left: -265px; */
    position: fixed;
    z-index: 2;
  }

  .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    height: calc(100vh - 290px);
    overflow-x: hidden;
  }
  .show-sidebar {
    position: fixed
  }

  .side-navigation-hide > .nav,
  .side-navigation-hide > .user-box {
    display: none!important;
  }
}

/* Medium */
@media only screen and (max-width: 768px) {
}

/* Large */
@media only screen and (max-width: 992px) {
}

/* Extra Large */
@media only screen and (max-width: 1200px) {
}

/* Extra extra Large */
@media only screen and (max-width: 1400px) {
}
